
<header>
  <div class="rastreio" [routerLink]="['/tracking']">
    <h3>Consultar Inscrição</h3>
  </div>

  <div class="cadAluno" [routerLink]="['alunos/create']">
    <h3>Cadastrar Aluno</h3>
        </div>

  <div class="loginAluno"[routerLink]="['/login']">
  <h3>Área do Aluno</h3>
   </div>
  <div class="loginAdm"[routerLink]="['/login_admin']">
    <h3>Administrador</h3>
  </div>


  <h1 [routerLink]="['/']"></h1>
  <div class="logo_search">
    <div class="search">
      <input
        type="text"
        placeholder="Digite o nome do curso..."
        [(ngModel)]="search"
        (keyup.enter)="navigateToSearch()"
      />
      <img
        [routerLink]="['/search/nome', search]"
        src="../../../assets/images/botao_pesquisa.png"
        alt=""
      />
    </div>
  </div>
</header>
