<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main>
    <div class="card" *ngFor="let curso of cursos">
      <a [routerLink]="['/details', curso.id]">
        <img [src]="curso.imagem" alt="{{ curso.clube }}">
      </a>
      <h3>{{ curso.clube }}</h3>
      <h4>{{ curso.ano }}</h4>
      <h5>R$ {{ curso.valor }}</h5>
      <button (click)="addCursoToVenda(curso)">Adicionar Curso</button>
    </div>
    <button class="carrinho">
      <img src="../../../../assets/images/carrinho-de-compras.png" alt="Carrinho">
    </button>
  </main>
  <div class="mostrar" *ngIf="adicionar">
    <div class="adicionar">
      <button class="close" (click)="fechar()">Fechar</button>
          <img [src]="curso.curso.imagem" alt="{{ curso.curso.clube }}">
        <h3>{{ curso.curso.clube }}</h3>
        <h4>{{ curso.curso.ano }}</h4>
        <h5>R$ {{ curso.curso.valor }}</h5>

        <div class = "quadrado">
        <label for="quantidade">Quantidade:</label>
        <input
          id="quantidade"
          [(ngModel)]="quantidade"
          type="number"
          placeholder="1"
          max="{{ this.curso.curso.quantidade }}"
        >
        <button (click)="completaraddCursoToVenda()">Adicionar Curso</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>
