<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main *ngIf="notEmpty">
<button class="voltar" [routerLink]="['']"><img src="../../../../assets/images/voltar.png" alt=""></button>
<h1 class="titulo">Lista de Desejos:</h1>
<div class="card" *ngFor="let curso of cursos">
    <a [routerLink]="['/details', curso.curso.id]">
      <img [src]="curso.curso.imagem" alt="{{ curso.curso.linguagem }}">
    </a>
    <div class="infos">
      <h3>{{ curso.curso.linguagem }}</h3>
      <h4>{{ curso.curso.ano }}</h4>
      <h5>R$ {{ curso.curso.valor }}</h5>
      <h3>Quantidade: {{ curso.quantidade }}</h3>
    </div>
    <div class="buttons">
      <button (click)="quantidadeCursoCarrinho(curso)">Mudar Quantidade</button>
      <button (click)="removeCursoCarrinho(curso)">Remover</button>
    </div>
  </div>
  <h2 class="titulo">Valor a ser pago: <h2 class="price">R$ {{valorCompra}}</h2></h2>
  <button class="payment" [routerLink]="['/buy']">Solicitar Curso</button>
</main>
<div class="mostrar" *ngIf="atualizar">
    <div class="adicionar">
      <button class="close" (click)="fechar()">Fechar</button>
          <img [src]="this.cursoVenda.curso.imagem" alt="{{ this.cursoVenda.curso.linguagem }}">
        <h3>{{ this.cursoVenda.curso.linguagem }}</h3>
        <h4>{{ this.cursoVenda.curso.ano }}</h4>
        <h5>R$ {{ this.cursoVenda.curso.valor }}</h5>

        <div class = "quadrado">
        <label for="quantidade">Quantidade:</label>
        <input
          id="quantidade"
          [(ngModel)]="quantidade"
          type="number"
          placeholder="1"
          max="{{ this.cursoVenda.curso.quantidade }}"
        >
        <button (click)="atualizaCursoCarrinho()">Atualizar quantidade</button>
      </div>
    </div>
  </div>
  <main *ngIf="!notEmpty">
    <button class="voltar" [routerLink]="['']"><img src="../../../../assets/images/voltar.png" alt=""></button>
    <h1 class="alerta">Sua lista de desejos está vazio :</h1>
  </main>
<app-footer></app-footer>
