<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main *ngIf="venda">
    <div class="infos">
        <h3>Nome: {{ venda.cliente.nome }}</h3>
        <h3>CPF: {{ venda.cliente.cpf }}</h3>
    </div>
            <div class="venda">
                <div class="venda_infos">
                    <h3>Número da compra: {{this.venda.id}}</h3>
                    <h3>Valor total da compra: R$ {{ venda.valor }}</h3>
                    <h3>Data: {{ venda.dia_venda }}</h3>
                    <h3>Cursos:</h3>
                </div>
                <div class="flex">
                    <div class="card" *ngFor="let curso of venda.cursoVendas">
                        <img [src]="curso.curso.imagem" alt="{{ curso.curso.clube }}">
                            <h3>{{ curso.curso.clube }}</h3>
                            <h5>R$ {{ curso.valor }}</h5>
                            <h3>Quantidade: {{ curso.quantidade }}</h3>
                    </div>
                </div>
                    <button [routerLink]="['/vendas/edit', venda.id]">Atualizar</button>
            </div>
  </main>
  <app-footer class="footer"></app-footer>
