.admin-container {
  display: flex;
  flex-direction: column; /* Para alinhar os cards verticalmente */
  align-items: center; /* Centraliza os cards */
  gap: 20px; /* Espaço entre os cards */
  padding: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px; /* Ajuste conforme necessário */
}

.card-gray-light {
  background-color: #7721bd52; /* Cinza claro */
}

.card-gray-medium {
  background-color: #7721bd52; /* Cinza médio */
}

.card-gray-dark {
  background-color: #7721bd52; /* Cinza escuro */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.update {
  background-color: #4e1f77;
  color: #f8c604;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.update:hover {
  background-color: #4e1f77;
}
