@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.compra{
    border: 1px solid black;
    margin: auto;
    width: 30vw;
    margin-bottom: 2vw;
    border-radius: 10px;
    border-color: #46035a;

}
.h3_titulo {
  font-weight: bold; /* Negrito */
  text-align: center; /* Centraliza o texto */
  margin-top: 0.5rem; /* Distância do topo */
  margin-bottom: 0.5rem; /* Distância do fundo */
}

.pedido{
    margin-left: 25vw;
    width: fit-content;
    align-items: center;
}
.pedido h1{
    margin-left: 4vw;
    font-size: 3vw;
}
label_h3{
    margin-left: 7vw;
}
input{
    margin-left: 11vw;
    border-radius: 5px;
    height: 2vw;
    font-size: 1.5vw;
    width: 8vw;

}
.topo{
  text-align: center;
}
button{
    display: block;
    height: 3vw;
    width: 8vw;
    font-size: 1.5vw;
    background-color: #5b219e;
    border-radius: 5px;
    border-color: #ddd8e2;
    margin-left: 10.8vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    cursor: pointer;

}
.card{
    height: fit-content;
    margin-left: 15vw;
}
.card h4{
    color: black;
}
@media (max-width: 767px) {
  .compra{
    width: 80%;
    font-size: 5vw;
  }
  button{
    height: 10vw;
    width: 30vw;
    font-size: 4vw;
    border-radius: 5px;
    border-color: none;
    margin-left: 25vw;

}
input{
    margin-left: 25vw;
    border-radius: 5px;
    height: 6vw;
    font-size: 4vw;
    width: 28.5vw;
}
.pedido{
    margin-left:auto;
    width: fit-content;
    align-items: center;
    font-size: 5vw;

}
.pedido h1{
    font-size: 5vw;
}
.card{
    width: 90%;
    margin-left: 5vw;
}
.mensagem-erro {

 color: red;
  font-size: 1.2em;
  margin-top: 20px;
}

}
