<app-header></app-header>
<main>
 
  <div class="imagens">
    <button class="hover" (click)="mostrarImagemAnterior()"><img class="left" src="../../../../assets/images/botao_proximo.png" alt=""></button>
    <img class="home_picture" [src]="imagens[imagemAtualIndex]" alt="Imagem">
    <button class="hover" (click)="mostrarProximaImagem()"><img class="right" src="../../../../assets/images/botao_proximo.png" alt=""></button>
  </div>
  <button [routerLink]="['/videos']" class="colecao titulo comprar hover">Acessar Cursos</button>
  <div class="faixa_vermelha">
    <div class="margem">
      <button class="hover" [disabled]="!passadorEsquerda"  (click)="removeContadorIdiomas()"><img class="left" src="../../../../assets/images/botao_proximo.png" alt=""></button>
    </div>
    <div class="agrupa hover" *ngFor="let idioma of idiomas.slice(indiceIdiomas, indiceIdiomas + 5)">
      <div [routerLink]="['/search2/', idioma.nomeBusca]" class="circle">
        <img src="{{ idioma.imagem }}" alt="{{ idioma.nome }}">
      </div>
      <h4>{{ idioma.nome }}</h4>
    </div>
    <div class="margem">
      <button class="hover" [disabled]="!passadorDireita" (click)="addContadorIdiomas()"><img class="right" src="../../../../assets/images/botao_proximo.png" alt=""></button>
    </div>
  </div>
  <div class="filtro">
    <label for="opcoes">Filtro:</label>
    <select id="opcoes" [(ngModel)]="opcaoSelecionada" name="opcaoSelecionada" (change)="selecaoAlterada()">
      <option value="Todas">Github</option>
      <option value="Home">Linkedin</option>
       </select>
  </div>
    <div [routerLink]="['/details', curso.id]" class="card hover" *ngFor="let curso of cursosFiltradas">
      <img  [src]="curso.imagem" alt="{{ curso.linguagem }}">
      <h3>{{ curso.linguagem }}</h3>
      <h4>{{ curso.ano }}</h4>
      <h5>R$ {{ curso.valor }}</h5>
    </div>

  </main>
<app-loading *ngIf="carregar"></app-loading>
<app-footer></app-footer>
