<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<body>
    <main>
        <div class="edit">
            <div class="principal">
                <h1>Atualizar os dados da inscrição</h1>
                <form [formGroup]="form">
                        <h1>Nome: {{ this.venda.aluno.nome }}</h1>
                        <h1>CPF: {{ this.venda.aluno.cpf }}</h1>
                        <h1>Valor da Doação: {{ this.venda.valor }}</h1>
                    <div class="atributos">
                        <label for="aluno_id">ID do aluno:</label>
                        <input
                            formControlName="aluno_id"
                            id="aluno_id"
                            [(ngModel)]="this.venda.aluno.id"
                            type="number">
                        <div *ngIf="f['aluno_id'].touched && f['aluno_id'].invalid" class="alert">
                            <div *ngIf="f['aluno_id'].errors?.['required']">(Preencha o campo acima)</div>
                        </div>
                    </div>

                    <div class="atributos">
                        <label for="aluno_id">Data :</label>
                        <input
                            formControlName="data_compra"
                            id="data_compra"
                            [(ngModel)]="this.venda.dia_venda"
                            type="text">
                        <div *ngIf="f['data_compra'].touched && f['data_compra'].invalid" class="alert">
                            <div *ngIf="f['data_compra'].errors?.['required']">(Preencha o campo acima)</div>
                        </div>
                    </div>
                    <button (click)="atualizaCompra()" [disabled]="!form.valid">Atualizar</button>

                    <button [routerLink]="['/vendas/'+venda.id+'/add_curso']">Adicionar Curso</button>

                    <div class="flex">
                        <div class="card" *ngFor="let curso of venda.cursoVendas">
                            <img [src]="curso.curso.imagem" alt="{{ curso.curso.linguagem }}">
                                <h4>{{ curso.curso.linguagem }}</h4>
                                <h5>R$ {{ curso.valor }}</h5>
                                <h4>Quantidade: {{curso.quantidade}}</h4>
                                <button (click)="quantidadeCurso(curso)">Quantidade</button>
                                <button (click)="removerCurso(curso)">Remover</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<div class="mostrar" *ngIf="atualizar">
    <div class="adicionar">
      <button class="close" (click)="fechar()">Fechar</button>
          <img [src]="this.cursoVenda.curso.imagem" alt="{{ this.cursoVenda.curso.linguagem }}">
        <h3>{{ this.cursoVenda.curso.linguagem }}</h3>
        <h4>{{ this.cursoVenda.curso.ano }}</h4>
        <h5>R$ {{ this.cursoVenda.curso.valor }}</h5>

        <div class = "quadrado">
        <label for="quantidade">Quantidade:</label>
        <input
          id="quantidade"
          [(ngModel)]="quantidade"
          type="number"
          placeholder="{{this.cursoVenda.quantidade}}"
          max="{{ this.cursoVenda.curso.quantidade }}"
        >
        <button (click)="AtualizaCursosVenda()">quantidade</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>
